.contact-us{padding:50px 0}

.contact-form .row{-webkit-box-align: center;-ms-flex-align: center;align-items: center}

.contact-us .contact-form{padding:0 40px}

.contact-us .contact-form .helping-info p{
    color:#999;
    padding-bottom: 20px;
}

.contact-us .contact-form .helping-info a{color:#fda12b}

.contact-us .contact-form .helping-info a:hover{color:#E2A322}

@media screen and (max-width:1200px){
    .contact-us .contact-form{
        padding:40px 0;
    }
}